<config>
    <modules>
        <Magento_Products>
            <version>1.0</version>
            <codePool>local</codePool>
        </Magento_Products>
    </modules>
    <frontend>
        <routers>
            <products>
                <use>standard</use>
                <args>
                    <module>Magento_Products</module>
                    <frontName>pro</frontName>
                </args>
            </products>
        </routers>
    </frontend>
    <global>
        <fieldsets>
            <customer_account>
                <mobile><create>1</create><update>1</update></mobile>
            </customer_account>
        </fieldsets>
        <models>
            <products>
                <class>Magento_Products_Model</class>
                <resourceModel>Products_Mysql4</resourceModel>
            </products>
            <Products_Mysql4>
                <class>Magento_Products_Model_Resource_Mysql4</class>
                <entities>
                    <blogpost>
                        <table>blog_posts</table>
                    </blogpost>

                </entities>
            </Products_Mysql4>
        </models>
        <resources>
            <customerattribute_setup>
                <setup>
                    <module>Magento_Products</module>
                    <class>Magento_Products_Model_Entity_Setup</class>
                </setup>
            </customerattribute_setup>
        </resources>
    </global>
</config>